.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXMxZzQ0bThhOTFxcjZ2N3NtbmpubjZ0ZmtqZG53eXI0Z3lvZDVjNSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/xT9IgzoKnwFNmISR8I/giphy.gif");
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.landing-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.landing-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.landing-container button {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ffa116;
  color: #fff;
  transition: transform 0.2s, background 0.2s;
}

.landing-container button:hover {
  transform: scale(1.05);
  background: #ffb84d;
}
